<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="container-fluid">
        <div>
            <la class="nav-item">
                <h5 class="sidebar-nav-letter">CLINICAPP ™ 2023. v2</h5>
            </la>
        </div>
    </div>
   <!-- <div class="col-1 d-flex">
        <a href="/req/signup" class="btn btn-success btn-block" style="FONT-SIZE: 14pt;">Registrar</a>
    </div>-->
    <div class="col-1 d-flex">
        <a href="/req/signin" class="btn btn-success btn-block" style="FONT-SIZE: 14pt;">Ingresar</a>
    </div>
</nav>

