<nav id="navbar">
    <center class="sidebar-nav-letter">
        <div>
            <hr>
            <img src="/img/DevBo.png" alt="Logo" style="height: 40px; width: 40px;"> <br>
            <samp class="sidebar-nav-letter">Developed by Benerando Ortega</samp>
        </div>
    </center>
</nav>